<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <title>Login Form</title>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>

    <body class="home">
      <header class="header">
        <a href="#" class="logo">Airline DBMS</a>
        <nav class="navbar">
            <a href="add_employee.html">Add Employee</a>
            <a href="search_employee.html">Search Employee</a>
            <a href="schedule_flight.html">Flight Scheduler</a>
            <a href="create_department.html">Create Department</a>
            <a href="add_plane.html">Add Plane</a>
            <a href="advanced.html">Advanced</a>
        </nav>
      </header>

    <div class="add-form">
      <div class="dep-title">Add Employee</div>
        <form method="post" action="{{ url_for('employee_blueprint.add_employee') }}">
          <div class="input-box">
            <label for="idEmployee">Employee ID:</label>
            <input type="text" placeholder="Enter EMP ID" name ="idEmployee" required>
          </div>

          <div class="input-box">
            <label for="FirstName">First Name</span>
            <input type="text" placeholder="Enter First Name" name= "FirstName" required>
        </div>

        <div class="input-box">
            <label for ="LastName">Last Name</span>
            <input type="text" placeholder="Enter Last Name" name = "LastName" required>
        </div>

          <div class="input-box">
            <label for="positionID">Position ID</span>
            <input type="text" placeholder="Enter Position ID" name = "positionID" required>
        </div>

          <div class="input-box">
            <label for="Salary">Salary:</label>
            <input type="text" placeholder="Enter Salary" required name = "Salary">
          </div>

          <div class="input-box">
            <label for="Status">Employment Status:</label>
            <select name="Status" required>
                <option value="Active">Active</option>
                <option value="Retired">Retired</option>
                <option value="Vacationing">Vacationing</option>
                <option value="Fired">Fired</option>
            </select><br>
          </div>

          <div class = "input-box">
            <input type="submit" value="Add Employee">
          </div>
      </form>
    </div>
  </body>
</html>
