<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <title>Login Form</title>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>

    <body class="home">
      <header class="header">
        <a href="#" class="logo">Airline DBMS</a>
        <nav class="navbar">
            <a href="add_employee.html">Add Employee</a>
            <a href="search_employee.html">Search Employee</a>
            <a href="schedule_flight.html">Flight Scheduler</a>
            <a href="create_department.html">Create Department</a>
            <a href="add_plane.html">Add Plane</a>
            <a href="advanced.html">Advanced</a>
        </nav>
      </header>
  <div class="add-form">
    <div class="title">Add Employee</div>
    <form action="#">
        <div class="user-details">
            <div class="input-box">
                <span class="details">First Name</span>
                <input type="text" placeholder="Enter First Name">
            </div>
            <div class="input-box">
                <span class="details">Last Name</span>
                <input type="text" placeholder="Enter Last Name">
            </div>
            <div class="input-box">
                <span class="details">Position ID</span>
                <input type="text" placeholder="Enter Position ID">
            </div>
            <div class="input-box">
                <span class="details">Employee ID</span>
                <input type="text" placeholder="Enter EMP ID">
            </div>
            <div class="input-box">
                <span class="details">Salary</span>
                <input type="text" placeholder="Enter Salary">
            </div>
            <div class="input-box">
              <span class="details">Status</span>
              <input type="text" placeholder="Enter Status">
          </div>
        </div>
        <div class="button">
            <input type="Submit" value="Submit">
        </div>
    </form>
  </div>

  </table>

  </body>
</html>
