<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <title>Department Creation</title>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>

    <body class="home">
      <header class="header">
        <a href="#" class="logo">Airline DBMS</a>
        <nav class="navbar">
            <a href="add_employee.html">Add Employee</a>
            <a href="search_employee.html">Search Employee</a>
            <a href="schedule_flight.html">Flight Scheduler</a>
            <a href="create_department.html">Create Department</a>
            <a href="add_plane.html">Add Plane</a>
            <a href="advanced.html">Advanced</a>
        </nav>
      </header>


<div class="all-forms">
  <div class="add-form">
    <h1 class="search-title">Create Department</h1>
    <form method="post" action="{{ url_for('department_blueprint.add_department') }}">
        <div>
            <div class="input-box">
                <span class="details">Department ID</span>
                <input type="number" name = "idDepartment" placeholder="Enter Department ID" required>
            </div>

            <div class="input-box">
                <span class="details">Position Name</span>
                <input type="text" placeholder="Enter Position Name" required name = "positionName">
            </div>

            <div class="input-box">
              <label for="planeType">Classification</label>
              <select name="classification" required>
                  <option value="Air Crew">Air Crew</option>
                  <option value="Janitorial">Janitorial</option>
                  <option value="Concessions">Concessions</option>
                  <option value="Management">Management</option>
              </select><br>
            </div>

            <div class="input-box">
                <span class="details">Primary Location</span>
                <input type="text" name = "primaryLocation" placeholder="Enter Primary Location" required>
            </div>
        </div>
        <div class="button">
            <input type="Submit" value="Submit">
        </div>
    </form>
  </div>
  <div class="add-form">
    <div class="search-title">Update Department</div>
    <form method="post" action="{{ url_for('department_blueprint.update_department') }}">
        <div class="user-details">
            <div class="input-box">
                <span class="details">Department ID</span>
                <input type="number" name = "newIdDepartment" placeholder="Enter Department ID" required>
            </div>

            <div class="input-box">
                <span class="details">New Pos. Name</span>
                <input type="text" name = "newPositionName" placeholder="Enter Position Name">
            </div>

            <div class="input-box">
              <label for="planeType">New Classification</label>
              <select name="newClassification">
                <option value=""></option>
                  <option value="Air Crew">Air Crew</option>
                  <option value="Janitorial">Janitorial</option>
                  <option value="Concessions">Concessions</option>
                  <option value="Management">Management</option>
              </select><br>
            </div>

            <div class="input-box">
                <span class="details">New Primary Location</span>
                <input type="text" name = "newPrimaryLocation" placeholder="Enter Primary Location">
            </div>
        </div>
        <div class="button">
            <input type="Submit" value="Update">
        </div>
    </form>
  </div>
  
</div>

  </body>
</html>
