<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <title>Flight Schedule</title>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>

    <body class="home">
      <header class="header">
        <a href="#" class="logo">Airline DBMS</a>
        <nav class="navbar">
            <a href="add_employee.html">Add Employee</a>
            <a href="search_employee.html">Search Employee</a>
            <a href="schedule_flight.html">Flight Scheduler</a>
            <a href="create_department.html">Create Department</a>
            <a href="add_plane.html">Add Plane</a>
            <a href="advanced.html">Advanced</a>
        </nav>
      </header>
<div class="all-forms">
  <div class="add-form">
    <div class="search-title">Schedule Flight</div>
    <form method="post" action="{{ url_for('flight_blueprint.schedule_flight') }}">
        <div>
            <div class="input-box">
                <span class="details">Flight Number</span>
                <input type="text" name = "idFlight" placeholder="Enter Flight Number" required>
            </div>
            <div class="input-box">
                <span class="details">Destination</span>
                <input type="text" name = "destination" placeholder="Enter Destination" required>
            </div>
            <div class="input-box">
                <span class="details">Plane ID</span>
                <input type="text" name = "planeID" placeholder="Enter Plane ID" required>
            </div>
            <div class="input-box">
                <span class="details">Departure Date</span>
                <input type="date" name = "departureDate" placeholder="Enter Departure Date" required>
            </div>
            <div class="input-box">
                <span class="details">Departure Time</span>
                <input type="time" name = "departureTime" placeholder="Enter Departure Time" required>
            </div>
            <div class="input-box">
                <span class="details">Flight Duration</span>
                <input type="number" name = "FlightTime"placeholder="Flight Duration in minutes" required>
            </div>
        </div>
        <div class="button">
            <input type="Submit" value="Submit">
        </div>
    </form>
  </div>

  <div class="add-form">
    <div class="title">Update Flight</div>
    <form method="post" action="{{ url_for('flight_blueprint.update_flight') }}">
        <div class="user-details">
            <div class="input-box">
                <span class="details">Flight Number</span>
                <input type="text" name = "idFlight" placeholder="Enter Flight Number" required>
            </div>
            <div class="input-box">
                <span class="details">New Destination</span>
                <input type="text" name = "newDestination" placeholder="Enter Destination" required>
            </div>
            <div class="input-box">
                <span class="details">New Plane ID</span>
                <input type="text" name = "newPlaneID" placeholder="Enter Plane ID" required>
            </div>
            <div class="input-box">
                <span class="details">New Departure Date</span>
                <input type="date" name = "newDepartureDate" placeholder="Enter Departure Date" required>
            </div>
            <div class="input-box">
                <span class="details">New Departure Time</span>
                <input type="time" name = "newDepartureTime" placeholder="Enter Departure Time" required>
            </div>
            <div class="input-box">
                <span class="details">New Flight Duration</span>
                <input type="number" name = "newFlightTime"placeholder="Flight Duration in minutes" required>
            </div>
        </div>
        <div class="button">
            <input type="Submit" value="Update">
        </div>
    </form>
  </div>

  <div class="add-form">
    <div class="title">Delete Scheduled Flight</div>
    <form method="post" action="{{ url_for('flight_blueprint.delete_flight') }}">
        <div class="user-details">
            <div class="input-box">
                <span class="details">Flight Number</span>
                <input type="text" name = "idFlight" placeholder="Enter Flight Number" required>
            </div>
            
        <div class="button">
            <input type="Submit" value="Delete">
        </div>
    </form>
  </div>

</div>

  </table>

  </body>
</html>
