<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <title>Login Form</title>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>

    <body class="home">
      <header class="header">
        <a href="#" class="logo">Airline DBMS</a>
        <nav class="navbar">
            <a href="add_employee.html">Add Employee</a>
            <a href="search_employee.html">Search Employee</a>
            <a href="schedule_flight.html">Flight Scheduler</a>
            <a href="create_department.html">Create Department</a>
            <a href="add_plane.html">Add Plane</a>
            <a href="advanced.html">Advanced</a>
        </nav>
      </header>
  <div class="add-form">
    <div class="search-title">Schedule Flight</div>
    <form method="post" action="{{ url_for('flight_blueprint.schedule_flight') }}">
        <div>
            <div class="input-box">
                <span class="details">Flight Number</span>
                <input type="text" name = "idFlight" placeholder="Enter Flight Number" required>
            </div>
            <div class="input-box">
                <span class="details">Destination</span>
                <input type="text" name = "destination" placeholder="Enter Destination" required>
            </div>
            <div class="input-box">
                <span class="details">Plane ID</span>
                <input type="text" name = "planeID" placeholder="Enter Plane ID" required>
            </div>
            <div class="input-box">
                <span class="details">Departure Date</span>
                <input type="date" name = "departureDate" placeholder="Enter Departure Date" required>
            </div>
            <div class="input-box">
                <span class="details">Departure Time</span>
                <input type="time" name = "departureTime" placeholder="Enter Departure Time" required>
            </div>
            <div class="input-box">
                <span class="details">Flight Duration</span>
                <input type="number" name = "FlightTime"placeholder="Flight Duration in minutes" required>
            </div>
        </div>
        <div class="button">
            <input type="Submit" value="Submit">
        </div>
    </form>
  </div>

  </table>

  </body>
</html>
